<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    
    <div id="app">
        <div id="login">
            <h2>{{ isLogin ? '登入' : '注册' }}</h2>
            <form @submit.prevent="handleSubmit">
                <label>账号</label>
                <input type="text" v-model="username" placeholder="请输入账号"/>
                <label>密码</label>
                <input type="password" v-model="password" placeholder="请输入密码(密码不能少于6位)"/>
                
                <div id="a" v-if="!isLogin">
                    <label>确认密码</label>
                    <input type="password" v-model="confirmPassword" placeholder="请确认密码"/>
                </div>
            </form>
            <div id="login-btn">
                <a href="#" @click="handleSubmit">{{ isLogin ? '登入' : '注册' }}</a>
                <a href="#" @click="toggleMode">{{ isLogin ? '注册' : '登入' }}</a>
            </div>
        </div>    
    </div>
    <script src="lib/vue.js"></script>
    <script src="js/login.js"></script>
</body>
</html>